body{background-color:gray;}
header{
background-color: #333;
color: white;
text-align: center;
padding: 1em 0;
}
.m {
color: white;
text-decoration: none;
display:inline-block;
padding: 4px 8px;
}
.m ul{
display: flex;
gap: 16px;
list-style: none;


}

@media(max-width:560px)  {
.head2{flex-direction: column;}
.m ul{flex-direction: column;gap: 8px;}

}

.m a {
color: white;
text-decoration: none;
display:inline-block;
padding: 4px 8px;
}

.type{
display: inline-block;
overflow: hidden;
white-space: nowrap;
border-right:  0.12em solid rgba(255, 255, 255, 0.9) ;
width: 0ch;
animation: typep 3s steps(18,end) 2s forwards, blink 0.75s step-end infinite;
}

@keyframes typep {to{width:18ch ;}
    
}
@keyframes blink {50%{border-color: transparent;}
    
}
.head2{
display: flex;
align-items: center;
justify-content: space-between;
gap: 15px;
padding: 12px;
color: white;
}
table{
border:1px solid black ;
}
th{
width:20% ;
border-bottom:1px solid rgb(255, 251, 251); 
}
footer{
background-color: #333;
color: white;
text-align: center;
padding: 1em 0;
}